{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "nodeVmSize": {
      "value": "Standard_DS4"
    },
    "controllerVmSize": {
      "value": "Standard_A4"
    },
    "numberOfControllers": {
      "value": 1
    },
    "numberOfNodes": {
      "value": 2
    },
    "adminUsername": {
      "value": "k8suser"
    },
    "sshKeyData": {
      "value": "ssh-rsa AAAAkashdfal test@localhost"
    },
    "vmNamePrefix": {
      "value": "k8s"
    }
  }
}
